<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <FechaSistema>
    28/01/2014
  </FechaSistema>
  <DataSource>
    localhost\SQLSERVER2008
  </DataSource>
  <InitialCatalog>
    GD1C2013
  </InitialCatalog>
  <UserId>
    gd
  </UserId>
  <Password>
    gd2013
  </Password>
</configuration>